body {font-family: sans-serif;} 
html, .fullscreen {display: flex;height: 100%; margin: 0;padding: 0;width: 100%; }  
.container {margin: auto;text-align: center;} 
.title {font-size: 3rem;}

body {
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;

   background-color: #808080;
}

#bottom_box {
    background-color: #cfc ;
}



#bottom_bar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 7vh;
  width: 100%;
  background-color: white;
  color: black;
  
  
}

#bottom_icons {
    float: right;
    padding-top: 1vh;
    padding-right: 6vw;
    width: 1vw;
    height: auto;
}

#bottom_icons img {
    width: 12vw;
    height: auto;
}

#bottom_text {
    float: left;
    padding-left: 4vw;
    font-size: 2.5vh;
}